export const config = {
    ip: '192.168.1.1',
    mak: '1234567890',
    deleteTitles: [
        'The Late Show With Stephen Colbert',
        'The Daily Show With Trevor Noah',
    ],
    deleteRegex: /^(CBS|NBC|ABC|FOX) .* News/,
    deleteScanAll: false,//false it will only check the 50 most recently deleted recordings.  false is way faster if you have a lot of deleted recordings
    deleteDuplicats: false, //setting this to true will flip deleteScanAll to true.
    tivoDecodePath: "C:\\tivodecode\\tivodecode.exe",//I strongly recommend tivodecode-ng

    //used for tivo online
    username: 'tivo@example.com',
    password: 'p@ssw0rd',
    tsn: 'tsn:000000000000000',//after I get loggin working I'll pull the first tsn from http://online.tivo.com/body/global/selectors
};